<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments.html :: head('Todo Formular') }"></head>

    <body>

        <nav th:replace="~{fragments.html :: mainNav('form') }"></nav>

        <main class="container mt-5">

            <div class="row">

                <div class="col-6">

                    <form action="/save" method="post">

                        <input type="hidden" name="id"th:value="${todo.id}">

                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" th:value="${todo.name}">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Beschreibung</label>
                            <textarea name="description" cols="30" class="form-control" th:text="${todo.description}"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input type="radio" name="done" value="true" th:checked="${todo.done == true}">
                                <label class="form-check-label" for="done">
                                    Erledigt
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="done" value="false" th:checked="${todo.done == false}">
                                <label class="form-check-label" for="done">
                                    Nicht erledigt
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Speichern</button>
                    </form>

                </div>

            </div>

        </main>

        <th:block th:replace="~{fragments.html :: foot}"></th:block>
    </body>
</html>