<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head('Todoliste') }"></head>

    <body>

    <nav th:replace="~{fragments.html :: mainNav('todos') }"></nav>

    <main class="container mt-5">

        <div class="row">

            <div class="col">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Datum</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody th:each="todo : ${todos}">
                        <tr>
                            <td th:text="${todo.name}"></td>
                            <td th:text="${todo.description}"></td>
                            <td th:text="${todo.createdAt}"></td>
                            <td th:text="${todo.done}"></td>
                            <td>
                                <a th:href="@{/edit/{id}(id=${todo.id})}" class="btn btn-warning">EDIT</a>
                                <a th:href="@{/delete/{id}(id=${todo.id})}" class="btn btn-danger">DELETE</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </main>

    <th:block th:replace="~{fragments.html :: foot}"></th:block>
</body>
</html>